/* General styling and imports */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Base styles */
html {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 6s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* App Container */
.App {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

/* Heading Styles */
.App h1,
.App h4 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 0.7rem;
  color: #e1ebfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add Todos Section */
.addTodos {
  display: flex;
  justify-content: center;
}

/* Text Input Field */
.todo-input {
  min-width: 15rem;
  width: 40vw;
  max-height: 2.5rem;
  background-color: #e1ebfd;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  align-self: center;
  transition: box-shadow 1s;
}

.todo-input:hover,
.todo-input:focus {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  outline: none;
}

/* Priority Dropdown */
.priority-dd {
  color: white;
  margin-left: 10px;
  min-width: 5rem;
  width: 10vw;
  max-height: 2.5rem;
  background-color: #1da1f2;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  align-self: center;
  transition: box-shadow 1s;
}

.priority-dd:hover,
.priority-dd:active {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  outline: none;
}

/* Date Selector */
.date-dd {
  margin-left: 10px;
  min-width: 5rem;
  width: 10vw;
  max-height: 2.5rem;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  align-self: center;
  transition: box-shadow 1s;
}

.date-dd:hover,
.date-dd:active {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  outline: none;
}

/* Add Button */
.add-btn {
  margin-left: 1rem;
  background-color: #271c6c;
  color: #e1ebfd;
  border-radius: 50%;
  border: 2px solid #e1ebfd;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 1s;
}

.add-btn:hover,
.add-btn:focus {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  outline: none;
}

/* Display Todos Section */
.displaytodos {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaytodos .buttons {
  margin-bottom: 2rem;
}

.displaytodos .buttons button {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: box-shadow 1s;
  background-color: #271c6c;
  color: white;
}

.displaytodos .buttons button:hover,
.displaytodos .buttons button:focus {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  outline: none;
}

.displaytodos .buttons button:not(:last-child) {
  margin-right: 1rem;
}

.displaytodos ul {
  list-style: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
}

/* Add gap between completed and active tasks */
.displaytodos .completed-tasks {
  margin-bottom: 2rem;
}

.displaytodos .active-tasks {
  margin-bottom: 0;
}

/* Card Styling */
.card {
  transition: box-shadow 0.5s;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    circle,
    hsla(237, 34%, 78%, 0.9) 0%,
    hsla(219, 88%, 94%, 0.9) 100%
  );
  margin: 0 1rem 1rem;
  height: 6rem; /* Updated height */
  width: 20rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  position: relative;
}

.card:hover,
.card:active {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Hide scrollbar for textarea */
.card textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: #271c6c;
  height: 70%;
  width: 100%;
  overflow: auto; /* Enable scrolling */
  outline: none;
  resize: none;
}

/* Hide scrollbar for WebKit browsers */
.card textarea::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.card textarea {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
.card textarea {
  -ms-overflow-style: none; /* Hide scrollbar */
}

.card textarea:disabled {
  background-color: transparent;
}

.card .btns {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  top: 4.5rem;
}

.card .btns button {
  border-radius: 20%;
  border: none;
  margin: 0 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  color: #271c6c;
  background-color: transparent;
}

.card .btns button:focus {
  outline: none;
}

/* Done Button */
.completed {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: #1da1f2;
  border: none;
  color: #e1ebfd;
  font-size: 0.7rem;
  padding: 0.1rem 0.5em;
  border-radius: 20px;
  transition: padding 2s;
  height: 20px;
}

.completed:hover {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Show Dropdowns */
.date-dd-show,
.priority-dd-show {
  color: black;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.priority-dd-show {
  position: absolute;
  top: 4.5rem;
}

/* Image in Heading */
h1 img {
  vertical-align: middle;
  margin-right: 12px;
}
